@import url(style1.css);
@import url(style2.css);
@import url(style3.css);
@import url(style4.css);

:root {
  --gray-color: #d8d8d8;
  --black-char-color: #6d6d6d;
}

* {
  margin: 0;
}
.work,
.project,
.about {
  margin: 5em 10%;
}

.work-main,
.project-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

.work-left,
.work-right,
.desc {
  width: 100%;
}

.image img {
  max-width: 100%;
  height: auto;
}

.img-left,
.img-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.image,
.desc {
  width: 100%;
  text-align: center;
}
